<div class="imgbtn">
 <img src="/images/beer.png">
 <div class="btn">
     <a id="beers" href="/beers">Check the Beers!</a>
    <a id="randombeers" href="/random-beers">Check a Random Beer</a>
 </div>
</div>