<h1>Random Beers Page</h1>
     {{> partial this}}
     {{#each beers}}
     <h4>Food Pairing</h4>
     <h3><ul>
         <li>{{this.food_pairing.[0]}}</li>
         <li>{{this.food_pairing.[1]}}</li>
         <li>{{this.food_pairing.[2]}}</li>
     </ul></h3>
     <p> Brewers Tips: {{this.brewers_tips}} </p>
    {{/each}}